<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <h2 class="text-center text-primary">Sign Up</h2>
        <hr>

        <div class="form-group">
          <label class="control-label" style="margin-right:10px">I am a: </label>
          <label class="radio-inline">
            <input class="mr-3" type="radio" value="male" formControlName="gender">Male
          </label>
          <label class="radio-inline ml-3">
            <input class="mr-3" type="radio" value="female" formControlName="gender">Female
          </label>
        </div>
      
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': registerForm.get('firstName')?.errors 
              && registerForm.get('firstName')?.touched}"
            class="form-control" 
            formControlName="firstName" 
            placeholder="First Name">
          <div class="invalid-feedback">First name is required</div>
        </div>
      
        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched}" class="form-control"
            placeholder="Last Name" formControlName="lastName">
          <div class="invalid-feedback" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')">Last name is required</div>
        </div>

        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('designate')?.errors && registerForm.get('designate')?.touched}" class="form-control"
            placeholder="Designate" formControlName="designate">
          <div class="invalid-feedback" *ngIf="registerForm.get('designate')?.touched && registerForm.get('designate')?.hasError('required')">Designate is required</div>
        </div>

        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched}" class="form-control"
            placeholder="Phone Number" formControlName="phoneNumber">
          <div class="invalid-feedback" *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.hasError('required')">Phone number is required</div>
        </div>

        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('email')?.errors && registerForm.get('email')?.touched}" class="form-control"
            placeholder="Email Address" formControlName="email">
          <div class="invalid-feedback" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">Email address is required</div>
          <div class="invalid-feedback" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">Email address is not valid</div>
        </div>
      
        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth')?.errors && registerForm.get('dateOfBirth')?.touched}" class="form-control"
            placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
          <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.hasError('required')">Date of Birth is required</div>
        </div>

        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': registerForm.get('username')?.errors 
              && registerForm.get('username')?.touched}"
            class="form-control" 
            formControlName="username" 
            placeholder="Username">
          <div class="invalid-feedback">Please choose a username</div>
        </div>
      
        <div class="form-group">
          <input type="password" 
            [ngClass]="{'is-invalid': registerForm.get('password')?.errors 
              && registerForm.get('password')?.touched}"
            class="form-control" 
            formControlName="password" 
            placeholder="Password">
          <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('required')
              && registerForm.get('password')?.touched">
                Password is required
          </div>
          <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('minlength')
              && registerForm.get('password')?.touched">
                Password must be at least 4 characters
          </div>
          <div class="invalid-feedback"
            *ngIf="registerForm.get('password')?.hasError('maxlength')
              && registerForm.get('password')?.touched">
                Password cannot exceed 10 characters
          </div>
        </div>
      
        <div class="form-group">
          <input type="password" 
            [ngClass]="{'is-invalid': registerForm.get('confirmPassword')?.errors 
              && registerForm.get('confirmPassword')?.touched
              || registerForm.get('confirmPassword')?.touched
              && registerForm.hasError('mismatch')}"
            class="form-control" 
            formControlName="confirmPassword" 
            placeholder="Confirm Password">
          <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword')?.hasError('required')
              && registerForm.get('confirmPassword')?.touched">
                Confirm Password is required
          </div>
          <div class="invalid-feedback"
            *ngIf="registerForm.hasError('mismatch')
              && registerForm.get('confirmPassword')?.touched">
                Passwords must match
          </div>
        </div>
      
        <div class="form-group text-center">
          <button class="btn btn-success mr-1" type="submit" [disabled]="!registerForm.valid">Register</button>
          <button class="btn btn-default" type="button" [routerLink]="['/home']">Cancel</button>
        </div>
        
      </form>
    </div>
  </div>
</div>