<div class="container mt-5">
  <h2>Admin Panel</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="User Management" *appHasRole="['Admin']">
        <div class="container">
            <app-user-management [users]="users"></app-user-management>
        </div>
      </tab>
      <tab heading="Photo Management" *appHasRole="['Admin', 'Moderator']">
        <div class="container">
            <app-photo-management></app-photo-management>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<!-- <div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div> -->