<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{user.firstName | titlecase}}'s Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.firstName}}"
          tooltip="Date of Birth: {{user.dateOfBirth | date: 'mediumDate'}} | Age: {{user.age}}">
        <div class="card-body">
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100" (click)="sendLike(user.id)">Like</button>
            <button class="btn btn-success w-100" (click)="selectTab(3)" (click)="focusOnMessageBox()">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="About {{user.firstName | titlecase}}">
            <h4>Name</h4>
            <p>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</p>
            <h4>Gender</h4>
            <p>{{user.gender | titlecase}}</p>
            <h4>Position</h4>
            <p>{{user.designate | titlecase}}</p>
            <h4>Phone Number</h4>
            <p>{{user.phoneNumber}}</p>
            <h4>Email Address</h4>
            <p>{{user.email}}</p>
            <h4>Skills</h4>
            <p>{{user.skills === null ? 'No skills yet... please input skills' : user.skills | uppercase}}</p>
            <h4>Certificates</h4>
            <p>{{user.certificates === null ? 'No certificates yet... please input certificates' : user.certificates | uppercase}}</p>
          </tab>
          <tab heading="Locations">
            <h4>Sitio</h4>
            <p>{{user.sitio === null ? 'No sitio yet... please input sitio' : user.sitio | titlecase}}</p>
            <h4>Barangay</h4>
            <p>{{user.barangay === null ? 'No barangay yet... please input barangay' : user.barangay | titlecase}}</p>
            <h4>City</h4>
            <p>{{user.city === null ? 'No city yet... please input city' : user.city | titlecase}}</p>
            <h4>Country</h4>
            <p>{{user.country === null ? 'No country yet... please input country' : user.country | titlecase}}</p>
          </tab>
          <tab heading="Photos">
            <div *ngIf="user.photoUrl === null">
              <p>No photos yet... please upload photos</p>
            </div>
            <carousel>
              <slide *ngFor="let photo of user.photos" class="text-center bg-primary">
                <img src="{{photo.url}}" alt="{{user.firstName}}" style="width: 50%;">
              </slide>
            </carousel>
          </tab>
          <tab heading="Messages">
            <app-member-messages [recipientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>